article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*General========*/


.flex-container {
	display: flex;
}

.headwrapper {
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	position: fixed;
	background: #fff;
	padding: 15px 0 15px 0;
	top:0;
	box-shadow: 0 1px 4px 0 rgba(99,114,130,0.15);
}

.wrapper {
	width: 65%;
/*	max-width: 1500px;*/
	margin: 0 auto;
}







/*Navigation========*/

.socialicons {
	padding-left: 50px;
	flex: 1;
}

.nav-actions {
	flex: 1;
	justify-content: flex-end;
}

nav p {
	text-align: center;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	margin: 0;
	padding-right: 50px;

}

nav ul a, .socialicons i, .headwrapper a {
	text-decoration: none;
}

.nav-actions a {
	padding-left: 20px;
	color: #505499;
}

.socialicons i {
	padding-right: 20px;
}

.hamburger {
	display: none;
}







/*HEADER IMAGE============*/

section {
	text-align: center;
	height: 100vh;
	width: auto;
	background: url(toronto.jpg);
	background-size: cover;
	border: 50px solid #fff;
	border-top: 0;
}

.maintitle {
	/*position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(120%);*/
	margin: auto;
	color: #fff;
	height: 30vh;
}

.slider {
	display: flex;
}

.slider i {
	font-size:50px;
	color: #fff;
	margin: 120px auto auto auto;
}


h1 {
	font-family: 'Roboto Mono', monospace;
	line-height: 8px;
	font-size: 50px;
	color: #fff;
}

h2 {
	font-size: 20px;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;
}

h3 {
	font-family: 'Roboto Mono', sans-serif;
	text-transform: uppercase;
/*	color: #505499;*/
	color: #fff;
	letter-spacing: 5px;
	margin: 50px auto 5px auto;
	font-size: 23px;
	background: #505499;
	display: inline-block;
	padding: 5px 25px;
}

.portfolio h3 {
	margin: 5px auto 5px auto;
}

h4 {
	font-family: 'Roboto Mono', sans-serif;
	color: #505499;
	font-size: 22px;
/*	letter-spacing: 1.5px;*/
	margin: 45px 0 0 auto;
	font-weight: 800;
}

.experience .job h5 {
	font-family: 'Roboto Mono', sans-serif;
	margin-top: 0px;
	margin-bottom: 15px;
}



h5, h5 li {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 16px;
/*	letter-spacing: 0.25px;*/
	line-height: 1.55rem;
	color: #555;
}


p, li {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 13px;
	line-height: 1.5rem;
	color: #666667;
	letter-spacing: 0.2px;
	font-weight: 200;
}

main a, .interests a, .sideprojects a {
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 14px;
/*	text-transform: uppercase;*/
	color: #F24F43;
	border-bottom: 2px solid #F24F43;
}







/*SECTION HEADER*/
.banner {
	text-align: center;
	height: 40vh;
	width: auto;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.05)), url(ttc.jpg);
	background-size: cover;
	border: 50px solid #fff;
	border-top: 0;
}

.bannerui {
	text-align: center;
	height: 40vh;
	width: auto;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.05)), url(mockup.jpg);
	background-size: cover;
	border: 50px solid #fff;
	border-top: 0;
}

.bannerpw {
	text-align: center;
	height: 40vh;
	width: auto;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.05)), url(weatherpanda.jpg);
	background-size: cover;
	border: 50px solid #fff;
	border-top: 0;
}

.bannerc {
	text-align: center;
	height: 40vh;
	width: auto;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.05)), url(ramen.jpg);
	background-size: cover;
	border: 50px solid #fff;
	border-top: 0;
}

.banner h1, .bannerui h1, .bannerpw h1, .bannerc h1 {
	transform: translateY(250%);
	line-height: 45px;
}

.banner p, .bannerui p, .bannerpw p {
	transform: translateY(600%);
	color: #fff;
}







/*MAIN SECTION============*/

.description-left {
	text-align: left;
	margin: 30px 50px auto 20px;
}

.portfolio img {
	width: 50%;
	height: 100%;
	margin-top: 35px;
	object-fit: cover;
}

.description-right {
	text-align: left;
	margin: 30px 20px auto 50px;
}

.slider p {
	color: #fff;
}

.portfolio {
	display: block;
}

.portfolio h4 {
	margin-top: 25px;
}

a:hover {
	border-bottom: none;
	font-weight: 600;
}

.galleryItem {
	height: 300px;
}





main, article {
	justify-content: space-between;
}

.experience, .otherstuff {
	width: 45%;
	float: left;
}

article li, .job ul {
	list-style: none;
	padding: 0;
}

.skills ul, .tools ul, .education ul{
	list-style: none;
	padding: 0;
}


.interests p i {
	font-size: 30px;
	letter-spacing: 20px;
	color: #333;
}

.skills ul/*, .education ul*/ {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.school ul {
	margin-top:0;
}



/*OTHER STUFF*/

iframe {
	margin: auto auto 50px auto;
}

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}




/*FOOTER*/

footer div {
	padding: 15px;
	text-align: center;
	margin: 150px auto 50px auto;
/*	text-align: center;
	border-top: 1px solid #eee;*/
}


.overlay.nav-actions {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.99);
	color: white;
	height: 100vh;
}

.overlay ul {
	flex-direction: column;
}
.overlay ul a {
	font-size: 50px;
	line-height: 1.5;
	text-align: center;
	width: 100%;
	padding: 30px;
}

.overlay .hamburger {
	display: block;
	font-size: 50px;
	text-align: center;
}





/*RESPONSIVE DESIGN STUFF*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (min-width: 960px) {
	.wrapper {
		width: 80%;
	}
	.experience {
		float: left;
	}

	.otherstuff {
		float: right;
	}
}

@media (min-width: 1280px) {
	.wrapper {
		width: 65%;
	}

	.experience, .otherstuff {
		width: 45%;
	}
}

@media (min-width: 100px) and (max-width: 960px){
	.wrapper, .experience, .otherstuff {
		width: 90%;
	}

	.socialicons, .nav-actions ul{
		display: none;
	}

/*	.hamburger {
		display: inline-flex;
		margin-right: 75px;
		font-size: 18px;
	}*/
	.hamburger {
		display: block;
		padding-right: 50px;
	}

	.nav-actions ul.show {
		display: flex;
	}

	h1 {
		font-size: 40px;
	}

	h3 {
		margin:15px auto 5px auto;
	}

	.banner h1, .bannerui h1{
		transform: translateY(125%);
	}

	.headwrapper p {
		padding-left: 50px;
	}
}